* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f4f6fb;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1E3A8A;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.logo {
  font-family: Poppins;
}


.hero {
  margin-top: 80px;
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to bottom, white, #dbeafe);
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}


.btn-green {
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-green:hover {
  background: #16a34a;
  transform: scale(1.05);
}


.container {
  padding: 40px;
}

.idea-list {
  display: grid;
  gap: 20px;
}



.idea-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.idea-card:hover {
  transform: translateY(-3px);
}

.tags span {
  background: #e5e7eb;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 12px;
}


.actions button {
  margin-right: 10px;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.like { background: #3b82f6; color: white; }
.edit { background: #facc15; }
.delete { background: #ef4444; color: white; }


.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.idea-form {
  background: white;
  padding: 30px;
  width: 60%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.empty {
  text-align: center;
  margin-top: 20px;
  color: gray;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



.kaka{
    background-color: #ef4444;
}

#no {
    background-color: #3b82f6;
}

